.candidat {
    margin-top: auto;

    &__title {
        font-size  : 30px;
        font-weight: 700;

        @media screen and (max-width: 1199px) {
            font-size: 28px;
        }

        @media screen and (max-width: 767px) {
            text-align: center;
            font-size : 26px;
        }
    }

    &__block {
        margin-top           : 30px;
        margin-bottom        : 30px;
        display              : grid;
        grid-template-columns: repeat(4, 1fr);
        gap                  : 30px;

        @media screen and (max-width: 1199px) {
            margin-top: 20px;
            gap       : 20px;
        }

        @media screen and (max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
            gap                  : 10px;
        }
    }

    &__item {
        display              : grid;
        grid-template-columns: 95px auto;
        align-items          : center;
        gap                  : 20px;

        @media screen and (max-width: 1199px) {
            grid-template-columns: 80px auto;
        }

        @media screen and (max-width: 576px) {
            grid-template-columns: 1fr;
        }

        &--img {
            width          : 95px;
            height         : 95px;
            border-radius  : 50%;
            border         : 1px solid $grayLightColor;
            display        : flex;
            align-items    : center;
            justify-content: center;

            @media screen and (max-width: 1199px) {
                width : 80px;
                height: 80px;
            }

            @media screen and (max-width: 576px) {
                display: none;
            }

            img {
                width : 78px;
                height: auto;

                @media screen and (max-width: 1199px) {
                    width: 70px;
                }
            }
        }

        &--desc {
            font-size  : 16px;
            line-height: 21px;

            @media screen and (max-width: 1199px) {
                font-size  : 15px;
                line-height: 19px;
            }

            @media screen and (max-width: 576px) {
                text-align: center;
            }
        }
    }

    &__btn {
        width       : 26px;
        height      : 36px;
        cursor      : pointer;
        margin-left : auto;
        margin-right: auto;
        animation   : mouse 3s infinite;
    }
}