.footer {
    padding      : 30px;
    background   : $grayDarkColor;
    border-radius: 0 0 15px 15px;

    &__address {
        display              : grid;
        grid-template-columns: 1fr 1fr;
        gap                  : 25px 20px;

        @media screen and (max-width: 1199px) {
            grid-template-columns: 1fr;
            gap                  : 20px;
        }

        @media screen and (max-width: 991px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        display              : grid;
        grid-template-columns: 30px auto;
        gap                  : 15px;
        align-items          : center;

        @media screen and (max-width: 1199px) {
            gap: 20px;
        }

        @media screen and (max-width: 991px) {
            justify-content: center;
        }

        @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 5px;
        }

        &:last-child {
            grid-column: 1 / -1;

            @media screen and (max-width: 991px) {}
        }

        &--icon {
            width : 34px;
            height: 34px;

            @media screen and (max-width: 767px) {
                width : 25px;
                height: 25px;
            }

            img {
                width     : 100%;
                height    : 100%;
                object-fit: contain;
            }
        }

        &--title {
            font-size  : 19px;
            font-weight: 700;
            color      : $whiteColor;

            @media screen and (max-width: 1199px) {
                font-size: 18px;
            }

            a {
                color     : $whiteColor;
                transition: all .3s ease;

                &.tel {
                    font-size: 22px;

                    @media screen and (max-width: 1199px) {
                        font-size: 21px;
                    }
                }

                &:hover {
                    color: $yellowDarkColor
                }
            }

            p {
                font-size: 19px;

                @media screen and (max-width: 1199px) {
                    font-size: 18px;
                }
            }

            span {
                font-size  : 15px;
                font-weight: 300;
                color      : $grayLightColor;
                display    : block;

                @media screen and (max-width: 1199px) {
                    font-size: 14px;
                }
            }
        }
    }

    &__social {
        margin-top : 30px;
        display    : flex;
        align-items: center;
        gap        : 20px;

        @media screen and (max-width: 991px) {
            flex-direction: column;
        }

        &--title {
            font-size  : 17px;
            font-weight: 300;
            color      : $grayLightColor;
            margin-left: 10px;

            @media screen and (max-width: 1199px) {
                font-size: 16px;
            }
        }

        &--icons {
            display: flex;
            height : 55px;
            gap    : 10px;

            @media screen and (max-width: 1199px) {
                height: 50px;
            }

            @media screen and (max-width: 991px) {
                justify-content: center;
            }

            @media screen and (max-width: 576px) {
                height: 40px;
            }

            img {
                width     : 100%;
                height    : 100%;
                object-fit: contain;
            }
        }
    }
}