.header {
    width         : 100%;
    min-height    : 100vh;
    display       : flex;
    flex-direction: column;
    padding-bottom: 30px;
    background    : rgba(150, 150, 150, .2);
    position      : relative;

    &:before {
        content        : "";
        position       : absolute;
        left           : 0;
        top            : 0;
        display        : block;
        width          : 100%;
        height         : 100%;
        background     : url("/img/intro-bg.jpg") center center no-repeat;
        background-size: cover;
        z-index        : -1;
        opacity        : .1;
        filter         : grayscale(1);
    }

    &__block {
        min-height: 120px;
    }

    &__top {
        width: 100%;

        &>.container {
            width          : 100%;
            height         : 120px;
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            gap            : 60px;

            @media screen and (max-width: 991px) {
                gap: 30px;
            }

            @media screen and (max-width: 767px) {
                gap                  : 20px;
                display              : grid;
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (max-width: 576px) {
                grid-template-columns: 1fr;
                gap                  : 10px;
            }
        }

        &.fixed {
            position  : fixed;
            left      : 0;
            top       : 0;
            width     : 100%;
            height    : 65px;
            z-index   : 2;
            background: #fff;
            box-shadow: 0 0 15px #ccc;

            &>.container {
                height: 65px;
            }

            .header__logo a {
                width: 150px;

                @media screen and (max-width: 576px) {
                    width: 120px;
                }
            }

            .header__call {
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }

            .header__btn {
                justify-self: flex-end;
                transform   : translateX(0);

                @media screen and (max-width: 576px) {
                    display: none;
                }
            }
        }
    }

    &__logo {
        margin-right: auto;

        @media screen and (max-width: 576px) {
            margin-left: auto;
        }

        a {
            width      : 230px;
            height     : 62px;
            display    : flex;
            align-items: center;

            @media screen and (max-width: 1199px) {
                width : 200px;
                height: 58px;
            }

            @media screen and (max-width: 991px) {
                width : 180px;
                height: 55px;
            }

            @media screen and (max-width: 767px) {
                width: 160px;
            }

            @media screen and (max-width: 576px) {
                width: 140px;
            }
        }
    }

    &__call {
        display    : flex;
        align-items: center;
        gap        : 15px;

        @media screen and (max-width: 767px) {
            justify-content: flex-end;
        }

        @media screen and (max-width: 576px) {
            justify-content: center;
        }

        &--img {
            width : 22px;
            height: 22px;

            @media screen and (max-width: 576px) {
                width : 20px;
                height: 20px;
            }
        }

        &--phone {
            display       : flex;
            gap           : 5px;
            flex-direction: column;

            @media screen and (max-width: 576px) {
                gap: 0;
            }

            a {
                font-size  : 22px;
                color      : $mainColor;
                font-weight: 700;
                transition : all .3s ease;

                @media screen and (max-width: 1199px) {
                    font-size: 21px;
                }

                @media screen and (max-width: 576px) {
                    font-size: 18px;
                }

                &:hover {
                    color: $yellowDarkColor
                }
            }

            span {
                font-size: 13px;

                @media screen and (max-width: 576px) {
                    font-size: 12px;
                }
            }
        }
    }

    &__btn {
        background-color: transparent;
        color           : $mainColor;
        line-height     : 46px;
        width           : 100%;
        max-width       : 215px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        border          : 2px solid $yellowDarkColor;
        border-radius   : 48px;
        font-size       : 16px;
        cursor          : pointer;
        transition      : all 0.3s ease;

        @media screen and (max-width: 767px) {
            grid-column: 2;
            transform  : translateX(calc(-50% - 10px));
        }

        @media screen and (max-width: 576px) {
            grid-column : 1;
            transform   : unset;
            margin-left : auto;
            margin-right: auto;
            margin-top  : 10px;
        }

        &:hover {
            background-color: $yellowDarkColor;
        }
    }
}