.sphera {
    padding-top   : 50px;
    padding-bottom: 50px;

    @media screen and (max-width: 1199px) {
        padding-top: 30px;
    }

    &__title {
        text-align   : center;
        font-size    : 37px;
        font-weight  : 700;
        margin-top   : 30px;
        margin-bottom: 50px;

        @media screen and (max-width: 1199px) {
            font-size : 35px;
            margin-top: 10px;
        }

        @media screen and (max-width: 991px) {
            font-size    : 32px;
            margin-bottom: 30px;
        }

        @media screen and (max-width: 767px) {
            font-size: 28px;
        }
    }

    &__block {
        display              : grid;
        grid-template-columns: repeat(3, 1fr);
        gap                  : 35px;

        @media screen and (max-width: 1199px) {
            gap: 20px;
        }

        @media screen and (max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 576px) {
            gap: 15px;
        }
        @media screen and (max-width: 499px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        border-radius  : 10px;
        overflow       : hidden;
        display        : flex;
        align-items    : center;
        justify-content: center;
        height         : 240px;
        padding-left   : 10%;
        padding-right  : 10%;
        gap            : 25px;
        background     : rgba(0, 0, 0, .6);
        position       : relative;

        @media screen and (max-width: 991px) {
            height: 200px;
            gap   : 20px;
        }
        @media screen and (max-width: 576px) {
            flex-direction: column;
        }

        &:before {
            content : "";
            position: absolute;
            left    : 0;
            top     : 0;
            display : block;
            width   : 100%;
            height  : 100%;
            z-index : -1;
            opacity : .7;
            filter  : grayscale(1);
        }

        &--img {
            width : 85px;
            height: 85px;
            flex  : 0 0 85px;

            @media screen and (max-width: 767px) {
                width : 60px;
                height: 60px;
                flex  : 0 0 60px;
            }

            img {
                width     : 100%;
                height    : 100%;
                object-fit: contain;
            }
        }

        &--desc {
            font-size  : 21px;
            line-height: 24px;
            font-weight: 700;
            color      : $whiteColor;

            @media screen and (max-width: 1199px) {
                font-size  : 20px;
                line-height: 23px;
            }

            @media screen and (max-width: 767px) {
                font-size  : 18px;
                line-height: 22px;
            }
            @media screen and (max-width: 576px) {
                text-align: center;
                font-size: 17px;
                line-height: 20px;
            }
        }

        &--sell:before {
            background     : url("/img/sell.jpg") center center no-repeat;
            background-size: cover;
        }

        &--admin:before {
            background     : url("/img/admin.jpg") center center no-repeat;
            background-size: cover;
        }

        &--hotel:before {
            background     : url("/img/hotel.jpg") center center no-repeat;
            background-size: cover;
        }

        &--stock:before {
            background     : url("/img/stock.jpg") center center no-repeat;
            background-size: cover;
        }

        &--account:before {
            background     : url("/img/account.jpg") center center no-repeat;
            background-size: cover;
        }

        &--build:before {
            background     : url("/img/build.jpg") center center no-repeat;
            background-size: cover;
        }

        &--ads:before {
            background     : url("/img/ads.jpg") center center no-repeat;
            background-size: cover;
        }

        &--plant:before {
            background     : url("/img/plant.jpg") center center no-repeat;
            background-size: cover;
        }

        &--medical:before {
            background     : url("/img/medical.jpg") center center no-repeat;
            background-size: cover;
        }

        &--jurist:before {
            background     : url("/img/jurist.jpg") center center no-repeat;
            background-size: cover;
        }

        &--trade:before {
            background     : url("/img/trade.jpg") center center no-repeat;
            background-size: cover;
        }

        &--it:before {
            background     : url("/img/it.jpg") center center no-repeat;
            background-size: cover;
        }
    }
}