.team {
    margin-top    : 20px;
    padding-top   : 30px;
    padding-bottom: 50px;

    @media screen and (max-width: 1199px) {
        margin-top: 0;
    }

    &__title {
        text-align   : center;
        font-weight  : 700;
        font-size    : 37px;
        margin-top   : 10px;
        margin-bottom: 40px;

        @media screen and (max-width: 1199px) {
            font-size: 35px;
        }
    }

    &__block {
        margin-top: 50px;
        padding-top: 20px;
        overflow  : hidden;
        position: relative;

        @media screen and (max-width: 1199px) {
            margin-top: 30px;
        }
    }

    &__item {
        text-align: center;

        &--name {
            color: $grayColor;
        }

        &--position {
            margin-top: 20px;
            font-weight: 700;
            font-size: 21px;
            margin-bottom: 10px;

            @media screen and (max-width: 1199px) {
                font-size: 20px;
            }
            @media screen and (max-width: 991px) {
                font-size: 19px;
            }
        }
    }
}